# Problem Set 2

## Question 1
### Consider the following Python module:
    a = 0
    
    def b():
         global a
         a = c(a)
         
    def c(a):
         return a + 2
     
    After importing the module into the interpreter, you execute:
    
    >>> b()
    >>> b()
    >>> b()
    >>> a
    ?
    
    What value is displayed when the last expression (a) is evaluated? Explain your 
    answer by indicating what happens in every executed statement

In [27]:
a = 0

def b():
     global a
     a = c(a)
     
def c(a):
     return a + 2

In [28]:
b()

In [29]:
b()

In [30]:
b()

In [31]:
a

6

> Explaination: (Dry Run)

       1. >>> b()
            Calls the function b().
            The global variable a (which is currently 0) is passed to the function c.
            c(0) returns 0 + 2 = 2.
            So, the global variable a is now updated to 2.
        
       2. >>> b()
            Calls the function b() again.
            The global variable a (which is now 2) is passed to the function c.
            c(2) returns 2 + 2 = 4.
            So, the global variable a is now updated to 4.
            
       3. >>> b()
            Calls the function b() one more time.
            The global variable a (which is now 4) is passed to the function c.
            c(4) returns 4 + 2 = 6.
            So, the global variable a is now updated to 6.
            
       4. >>> a
            This simply evaluates the current value of the global variable a which is now 6.
            
      
        The value displayed when the last expression (a) is evaluated is 6.

## Question 2
### Function fileLength(), given to you, takes the name of a file as input and returns the length of the file:
    >>> fileLength('midterm.py')
    284
    >>> fileLength('idterm.py')
    Traceback (most recent call last):
    File "<pyshell#34>", line 1, in <module>
     fileLength('idterm.py')
    File "/Users/me/midterm.py", line 3, in fileLength
     infile = open(filename)
    FileNotFoundError: [Errno 2] No such file or directory: 
    'idterm.py'
    
    As shown above, if the file cannot be found by the interpreter or if it cannot be read 
    as a text file, an exception will be raised. Modify function fileLength() so that a 
    friendly message is printed instead:
    >>> fileLength('midterm.py')
    358
    >>> fileLength('idterm.py')
    File idterm.py not found.

In [24]:
def file_length(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except FileNotFoundError:      # exception is caught and a friendly message is printed.
        print("File '{}' not found".format(file_name))

In [25]:
file_length('Filelength.txt')

123

In [26]:
file_length('ilelength.txt')

File 'ilelength.txt' not found

## Question 3
### Write a class named Marsupial that can be used as shown below:
    >>> m = Marsupial()
    >>> m.put_in_pouch('doll')
    >>> m.put_in_pouch('firetruck')
    >>> m.put_in_pouch('kitten')
    >>> m.pouch_contents()
    ['doll', 'firetruck', 'kitten']
    
    Now write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial and also:
        a. extends the Marsupial __init__ constructor to take, as input, the coordinates x and y of the Kangaroo object,
        b. supports method jump that takes number values dx and dy as input and 
           moves the kangaroo by dx units along the x-axis and by dy units along the y-axis, and
        c. overloads the __str__ operator so it behaves as shown below.

    >>> k = Kangaroo(0,0)
    >>> print(k)
    I am a Kangaroo located at coordinates (0,0)
    >>> k.put_in_pouch('doll')
    >>> k.put_in_pouch('firetruck')
    >>> k.put_in_pouch('kitten')
    >>> k.pouch_contents()
    ['doll', 'firetruck', 'kitten']
    >>> k.jump(1,0)
    >>> k.jump(1,0)
    >>> k.jump(1,0)
    >>> print(k)
    I am a Kangaroo located at coordinates (3,0)

In [38]:
# Define the Marsupial class
class Marsupial:
    def __init__(self):
        # Initialize an empty list to hold the contents of the pouch
        self.pouch = []
    
    def put_in_pouch(self, item):
        # Add the item to the pouch
        self.pouch.append(item)
        
    def pouch_contents(self):
        # Prints the contents of the pouch
        print(self.pouch)

In [39]:
m = Marsupial()

In [40]:
m.put_in_pouch("doll")
m.put_in_pouch("firetruck")
m.put_in_pouch("kitten")

In [41]:
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [42]:
# Inherits the Marsupial class
class Kangaroo(Marsupial):
    def __init__(self, x,y):
        # Extends the constructor of Marsupial
        super().__init__()     
        self.x=x
        self.y=y
        
    def jump(self,dx,dy):
        self.x+=dx
        self.y+=dy
    
    def __str__(self):
        return "I am a Kangaroo located at coordinate ({},{})".format(self.x,self.y)

In [43]:
k = Kangaroo(0,0)

In [44]:
print(k)

I am a Kangaroo located at coordinate (0,0)

In [45]:
k.put_in_pouch("doll")
k.put_in_pouch("firetruck")
k.put_in_pouch("kitten")
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [46]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)

In [47]:
print(k)

I am a Kangaroo located at coordinate (3,0)

## Question 4
### Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. 
    A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence:
    
        x = { 𝑥/2  𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛,  3𝑥 + 1  𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑
        
    Your function should stop when the sequence gets to number 1. Your implementation must be recursive, without any loops.
    >>> collatz(1)
    1
    >>> collatz(10)
    10
    5
    16
    8
    4
    2
    1

In [48]:
def collatz(x):
    # Base case: print x and return if x is 1
    print(x)
    if x == 1:
        return
    # If x is even, apply the rule x/2
    elif x % 2 == 0:
        collatz(x // 2)
    # If x is odd, apply the rule 3x + 1
    else:
        collatz(3 * x + 1)

In [49]:
collatz(1)

1

In [50]:
collatz(10)

10
5
16
8
4
2
1

## Question 5
### Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.

    >>> binary(0)
    0
    >>> binary(1)
    1
    >>> binary(3)
    11
    >>> binary(9)
    1001

In [51]:
def binary(n):
    # Base case: If n is 0 or 1, just print n
    if n == 0 or n == 1:
        return str(n)
    # Recursively find the binary representation of n//2 and append n%2 to it
    else:
        return binary(n // 2) + str(n % 2)

In [52]:
binary(0)

'0'

In [53]:
binary(1)

'1'

In [54]:
binary(3)

'11'

In [55]:
binary(9)

'1001'

## Question 6
### Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. 
    
    You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. 
    When fed a string containing HTML code, your class should print the headings, 
    one per line and in the order in which they appear in the document. 
    Each heading should be indented as follows: 
    an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. 
    
    Test your implementation using w3c.html.
    >>> infile = open('w3c.html')
    >>> content = infile.read()
    >>> infile.close()
    >>> hp = HeadingParser()
    >>> hp.feed(content)
    W3C Mission
    Principles

In [67]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.in_heading = False
        self.current_tag = ""

    def handle_starttag(self, tag, attrs):
        # Check if the tag is a heading tag
        if tag in ['h1', 'h2']:
            self.in_heading = True
            self.current_tag = tag

    def handle_endtag(self, tag):
        if tag in ['h1', 'h2']:
            self.in_heading = False

    def handle_data(self, data):
        if self.in_heading:
            # Calculate the indentation based on the heading level
            indentation = int(self.current_tag[1]) - 1
            print(' ' * indentation + data)

In [68]:
infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission
 Principles

## Question 7
### Implement recursive function webdir() that takes as input: 
    a URL (as a string) and non-negative integers depth and indent. 

    Your function should visit every web page reachable from the starting URL web page in depth clicks or less, 
    and print each web page's URL. 
    As shown below, indentation, specified by indent, should be used to indicate the depth of a URL.
    
    >>> webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)
    http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
         http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
             http://reed.cs.depaul.edu/lperkovic/csc242/test4.html
         http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
             http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

In [81]:
from urllib.request import urlopen
from urllib.parse import urljoin
from html.parser import HTMLParser

class LinkCollector(HTMLParser):
    def __init__(self, url):
        super().__init__()
        self.url = url
        self.links = []

    def get_links(self):
        return self.links

    def handle_starttag(self, tag, attrs):
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    link = urljoin(self.url, attr[1])
                    if link not in self.links and link.startswith('http'):
                        self.links.append(link)

def webdir(url, depth, indent=0):
    if depth < 0:
        return
    print(' ' * indent + url)
    response = urlopen(url)
    content = response.read().decode()
    parser = LinkCollector(url)
    parser.feed(content)
    links = parser.get_links()
    for link in links:
        webdir(link, depth - 1, indent + 4)

In [82]:
webdir('http://reed.cs.depaul.edu/lperkovic/test1.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/test1.html
    http://reed.cs.depaul.edu/lperkovic/test2.html
        http://reed.cs.depaul.edu/lperkovic/test4.html
    http://reed.cs.depaul.edu/lperkovic/test3.html
        http://reed.cs.depaul.edu/lperkovic/test4.html

## Question 8
### Write SQL queries on the below database table that return: 
    a) All the temperature data.
    b) All the cities, but without repetition.
    c) All the records for India.
    d) All the Fall records.
    e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.
    f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.
    g) The total annual rainfall for Cairo.
    h) The total rainfall for each season.

    City Country Season Temperature(C) Rainfall(mm)
    Mumbai India Winter 24.8 5.9 
    Mumbai India Spring 28.4 16.2 
    Mumbai India Summer 27.9 1549.4 
    Mumbai India Fall 27.6 346.0 
    London United Kingdom Winter 4.2 207.7 
    London United Kingdom Spring 8.3 169.6 
    London United Kingdom Summer 15.7 157.0 
    London United Kingdom Fall 10.4 218.5 
    Cairo Egypt Winter 13.6 16.5 
    Cairo Egypt Spring 20.7 6.5 
    Cairo Egypt Summer 27.7 0.1 
    Cairo Egypt Fall 22.2 4.5

In [83]:
import sqlite3

# Establish a connection
conn = sqlite3.connect('data_info.db')
table = conn.cursor()

# Create the table
table.execute("CREATE TABLE IF NOT EXISTS data_info (City text, Country text, Season text, Temperature double, Rainfall double)")
table.execute("INSERT INTO data_info VALUES ('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai','India', 'Spring', 28.4, 16.2), ('Mumbai','India', 'Summer', 27.9, 1549.4), ('Mumbai','India', 'Fall', 27.6, 346.0)")
table.execute("INSERT INTO data_info VALUES ('London', 'United Kindom', 'Winter', 4.2, 207.7), ('London', 'United Kindom', 'Spring', 8.3, 169.6), ('London', 'United Kindom', 'Summer', 15.7, 157.0), ('London', 'United Kindom', 'Fall', 10.4, 218.5)")
table.execute("INSERT INTO data_info VALUES ('Cairo', 'Egypt', 'Winter', 13.6, 16.5), ('Cairo', 'Egypt', 'Spring', 20.7, 6.5), ('Cairo', 'Egypt', 'Summer', 27.7, 0.1), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)")

table.execute('SELECT * FROM data_info')
table.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kindom', 'Winter', 4.2, 207.7),
 ('London', 'United Kindom', 'Spring', 8.3, 169.6),
 ('London', 'United Kindom', 'Summer', 15.7, 157.0),
 ('London', 'United Kindom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [84]:
# a) All the temperature data.

table.execute("SELECT Temperature FROM data_info")
for i in table:
    print(i)

(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)

In [85]:
# b) All the cities, but without repetition.

table.execute("SELECT DISTINCT City FROM data_info")
for i in table:
    print(i)

('Mumbai',)
('London',)
('Cairo',)

In [87]:
# c) All the records for India.

table.execute("SELECT * FROM data_info WHERE Country='India'")
for i in table:
    print(i)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

In [89]:
# d) All the Fall records.

table.execute("SELECT * FROM data_info WHERE Season='Fall'")
for i in table:
    print(i)

('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kindom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

In [90]:
# e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

table.execute("SELECT City, Country, Season FROM data_info WHERE Rainfall>200 AND Rainfall<400")
for i in table:
    print(i)

('Mumbai', 'India', 'Fall')
('London', 'United Kindom', 'Winter')
('London', 'United Kindom', 'Fall')

In [91]:
# f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

table.execute("SELECT City, Country FROM data_info WHERE Season='Fall' AND Temperature>20 ORDER BY Temperature ASC")
for i in table:
    print(i)

('Cairo', 'Egypt')
('Mumbai', 'India')

In [92]:
# g) The total annual rainfall for Cairo.

table.execute("SELECT SUM(Rainfall) FROM data_info WHERE City='Cairo'")
for i in table:
    print(i)

(27.6,)

In [93]:
# h) The total rainfall for each season.

table.execute("SELECT Season, SUM(Rainfall) FROM data_info GROUP BY Season")
for i in table:
    print(i)

('Fall', 569.0)
('Spring', 192.29999999999998)
('Summer', 1706.5)
('Winter', 230.1)

## Question 9
### Suppose list words is defined as follows:
    >>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
    
    Write list comprehension expressions that use list words and generate the following lists:
    
    a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
    
    b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
    
    c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words).
    
    d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], 
        ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], 
        ['DOG', 'dog', 3]] 
        (the list containing a list for every word of list words, 
        where each list contains the word in uppercase and lowercase and the length of the word.)
    
    e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] 
        (the list of words in list words containing 4 or more characters.)

In [94]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
print(words)

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [97]:
# a) Converting the words list to upper case

upperCase = [elements.upper() for elements in words]
print (upperCase)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [98]:
# b) Converting the words list to lower case

lowerCase = [elements.lower() for elements in words]
print(lowerCase)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [99]:
# c) Counting length of each word in the list

length = [len(elements) for elements in words]
print(length)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [100]:
# d) Converting each word into upper case, lower case and counting the length of each word provided in the list

combine = [(elements.upper(),elements.lower(),len(elements)) for elements in words]
print(combine)

[('THE', 'the', 3), ('QUICK', 'quick', 5), ('BROWN', 'brown', 5), ('FOX', 'fox', 3), ('JUMPS', 'jumps', 5), ('OVER', 'over', 4), ('THE', 'the', 3), ('LAZY', 'lazy', 4), ('DOG', 'dog', 3)]

In [101]:
# e) Extracting the words from the list of words containing 4 or more characters

aboveFour = [elements for elements in words if len(elements)>=4]
print(aboveFour)

['quick', 'brown', 'jumps', 'over', 'lazy']